<div align="center">
<h2>パン屋さんの登録済み情報一覧</h2>
<table width="40%" border="1">

<!-- <tr> -->
<!-- <th bgcolor="yellow">#</th> -->
<!-- <th bgcolor="yellow" nowrap>お店の名前</th> -->
<!-- <th bgcolor="yellow" nowrap>メールアドレス</th> -->
<!-- <th bgcolor="yellow" nowrap>画像</th> -->
<!-- </tr> -->
<!-- <tr ng-repeat="bakery in bakerys"> -->
<!-- <td>{{$index + 1}}</td> -->
<!-- <td align="center" nowrap>{{bakery.name}}</td> -->
<!-- <td align="center">{{bakery.mailAddress}}</td> -->
<!-- <td align="center"><img data-ng-src="{{bakery.imageEncoding}}{{bakery.image}}"></td> -->
<!-- </tr> -->


<tr ng-repeat-start="bakery in bakerys">
  <th align="center" rowspan="7" bgcolor="yellow">{{$index + 1}}</td>
  <td>名前</td>
  <td>{{bakery.name}}</td>
</tr>
<tr>
  <td>メールアドレス</td>
  <td>{{bakery.mailAddress}}</td>
</tr>
<tr>
  <td>住所</td>
  <td>{{bakery.address}}</td>
</tr>
<tr>
  <td>電話番号1</td>
  <td>{{bakery.phoneNumber1}}</td>
</tr>
<tr>
  <td>電話番号2</td>
  <td>{{bakery.phoneNumber2}}</td>
</tr>
<tr>
  <td>説明</td>
  <td>{{bakery.introduction}}</td>
</tr>
<tr>
  <td>画像</td>
  <td align="center"><img data-ng-src="{{bakery.imageEncoding}}{{bakery.image}}" /></td>
</tr>
<tr ng-repeat-end>
  <td colspan="3" bgcolor="black"></td>
</tr>


</table>
<br>
<hr width="50%">
<h2>パン購入ユーザの登録済みメール一覧</h2>
<table width="40%" border="1">
<tr>
<th bgcolor="yellow">#</th>
<th bgcolor="yellow">メールアドレス</th>
</tr>
<tr ng-repeat="customer in customers">
<td>{{$index + 1}}</td>
<td align="center">{{customer.mailAddress}}</td>
</tr>
</table>
</div>