<div class="container">
<form name="registBakeryForm" ng-controller="InputBakeryInfoController">
<div align="center">お店の情報を入力してください。</div><br>

<!-- <table align="center"> -->
<table class="table table-hover table-striped">
<tr>
<th align="right" nowrap>お店の名前　</th>
<td><input type="text" ng-model="bakery.name" name="name" required /></td>
</tr>
<tr>
<th align="right" nowrap>メールアドレス <font color="red">(@必須)</font>　</th>
<td><input type="email" ng-model="bakery.mailAddress" name="mailAddress" required /></td>
</tr>
<tr>
<th align="right" nowrap>住所　</th>
<td><input type="text" ng-model="bakery.address" name="address" required /></td>
</tr>
<tr>
<th align="right" nowrap>電話番号１　</th>
<td><input type="tel" ng-model="bakery.phoneNumber1" name="phoneNumber1" required /></td>
</tr>
<tr>
<th align="right" nowrap>電話番号２　</th>
<td><input type="tel" ng-model="bakery.phoneNumber2" name="phoneNumber2" /></td>
</tr>
<tr>
<th align="right" nowrap>紹介文　</th>
<td><input type="text" ng-model="bakery.introduction" name="introduction" required /></td>
</tr>
<tr>
<th align="right" nowrap>ログインID　</th>
<td><input type="text" ng-model="bakery.loginId" name="loginId" required /></td>
</tr>
<tr>
<th align="right" nowrap>ログインパスワード　</th>
<td><input type="text" ng-model="bakery.loginPassword" name="loginPassword" required /></td>
</tr>
<tr>
<th align="right" nowrap>画像　</th>
<td><input type="file" name="image" file-model="imageFile" /><br>
<img ng-if="imageFileSrc" ng-src="{{imageFileSrc}}" /></td>
</tr>
</table>
{{imageFileSrc}}
<br>
<div align="center">
<button ng-disabled="!registBakeryForm.$valid" ng-click="confirmBakeryInfo()">登録</button>
</div>
</form>
</div>
