<div  class="container">
<form name="registBreadForm" ng-controller="InputBreadInfoController">

<div align="center">
<font color="red">【注意】 パン屋のログイン機能が未実装のため、#1「パン屋まこぴ」のパンとして登録します。</font>
</div>
<br>

<div align="center">パンの情報を入力してください。</div><br>

<table align="center" class="table table-hover table-striped">
<tr>
<th align="right" nowrap>パンの名前　</th>
<td><input type="text" ng-model="bread.name" name="name" required /></td>
</tr>
<tr>
<th align="right" nowrap>価格　</th>
<td><input type="text" ng-model="bread.price" name="price" required /></td>
</tr>

<tr>
<th align="right" nowrap>紹介文　</th>
<td><input type="text" ng-model="bread.introduction" name="introduction" required /></td>
</tr>
<tr>
<th align="right" nowrap>画像　</th>
<td><input type="file" name="image" file-model="imageFile" /><br>
<img ng-if="imageFileSrc" ng-src="{{imageFileSrc}}" /></td>
</tr>
</table>
<input type="hidden" ng-model="bread.bakeryId" name="bakeryId" value="1" />
{{imageFileSrc}}
<br>
<div align="center">
<button ng-disabled="!registBreadForm.$valid" ng-click="confirmBreadInfo()">登録</button>
</div>
</form>
</div>